body {
    font-family: Arial, sans-serif;
    background: #1e293b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.senha-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.caixa {
    width: 60px;
    height: 60px;
    background: white;
    color: #000;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #8fe800;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #eb02dc;
}